/* 
    Document   : opencart
    Created on : Feb 7, 2013, 9:59:18 PM
    Author     : Jiang
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.welcome {
	/* color: #636E75; */
	font: Verdana;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}
h2 {
	font-size: 16px;
}
h1 {
	font-size: 24px;
        padding:2%;
        width:96%;
        background: #f7f7f7;
        border-bottom: 1px solid #eee;
        font-family: Oswald-Light;
}
a, a:visited, a b {
	cursor: pointer;
}
/*
form {
	padding: 0;
	margin: 0;
	display: inline;
}
*/
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
/*	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
        font-size: 14px;
        font-family: Calibri;*/
        -moz-appearance:button;
        -webkit-appearance:button;
        background-image: url('../images/arrow_down.png')!important;
        border:1px solid #ccc;
        background:#FCFCFC;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background-position: center right;
        background-repeat: no-repeat;
        color: #2e2d2d;
        font-size: inherit;
        margin: 0;
        overflow: hidden;
        padding: 8px;
        font-size:14px!important;
}
label {
	cursor: pointer;
}
/* layout */
#container_ext {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 180px;
}
#column-right {
	float: right;
	width: 180px;
}
#content_ext {
	min-height: 400px;
        width:100%;
	margin-bottom: 25px;
        border:0px!important;
}
.content_ext{
        border:0px!important;
}
#content_ext, .content_ext a{
	font-size: 14px;
}
#column-left + #column-right + #content_ext, #column-left + #content_ext {
	margin-left: 195px;
}
#column-right + #content_ext {
	margin-right: 195px;
}
/* header */
#header_ext {
	height: 45px!important;
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	/* z-index: 99; */
}
#header_ext #logo_ext {
	position: absolute;
	top: -5px;
	left: 229px;
}
#language {
	position: absolute;
	top: 0px;
	right: 150px;
	width: 75px;
	/* color: #999; */
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
#currency {
	width: 75px;
	position: absolute;
	top: 10px;
	left: 5px;
	/* color: #999; */
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	/* color: #999; */
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	/* color: #000; */
	text-decoration: none;
}
#header_ext #cart {
	position: absolute;
	top: -5px;
	left: 0px!important;
	z-index: 9;
	
}
#header_ext #cart .heading {
	float: right;
	margin-right: 172px;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
        /*
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
        */
	position: relative;
	z-index: 1;
}
#header_ext #cart .heading h4 {
	/* color: #333333; */
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header_ext #cart .heading a {
	/* color: #38B0E3; */
	text-decoration: none;
	margin:0px;
}
#header_ext #cart .heading a span {
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header_ext #cart .content_ext {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}

#header_ext #cart.active .heading {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#header_ext #cart.active .content_ext {
	display: block;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	/* color: #000; */
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	/* color: #666; */
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
#header_ext #cart .cart .remove img {
	cursor: pointer;
}
#cart_module .cart {
	width:100%;	
}
#cart_module .cart .remove img {
	cursor: pointer;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
	float:right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	/* color: #000; */
	padding: 4px;
}
#header_ext #cart .checkout {
	text-align: right;
	clear: both;
}
#cart_module .content_ext .checkout {
	text-align: right;
	clear: both;
}
#header_ext #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header_ext #search_ext {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 150px;
	/* z-index: 15; */
}
#header_ext .button-search {
	position: absolute;
	left: 0px;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#header_ext #search_ext input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 110px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;
}
#header_ext #welcome {
	position: absolute;
	top: 52px;
	right: 0px;
	z-index: 5;
	/* width: 298px; */
	text-align: right;
	/* color: #999999; */
	display:block;
}
#header_ext .links {
	position: absolute;
	right: 0px!important;
	top: 15px!important;
	font-size: 10px;
	padding-right: 4px;
}
#header_ext .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 4px;
	/* color: #38B0E3; */
	text-decoration: none;
	font-size: 14px!important;
        font-family: Oswald-Light;
}
#header_ext .links a + a {
	margin-left: 4px;
	border-left: 1px solid #CCC;
}
/* menu */
#menu_ext {
	background: #585858;
	border-bottom: 1px solid #000000;
	height: 37px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	padding: 0px 5px;
}
#menu_ext ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu_ext > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	padding: 6px 5px 5px 0px;
}
#menu_ext > ul > li:hover {
	background: #000;
}
#menu_ext > ul > li > a {
	font-size: 13px;
	color: #FFF;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 6px 10px 6px 10px;
	margin-bottom: 5px;
	z-index: 6;
	position: relative;
}
#menu_ext > ul > li:hover > a {
	background: #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#menu_ext > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #000000;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/menu.png');
}
#menu_ext > ul > li:hover > div {
	display: table;
}
#menu_ext > ul > li > div > ul {
	display: table-cell;
}
#menu_ext > ul > li ul + ul {
	padding-left: 20px;
}
#menu_ext > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu_ext > ul > li ul > li > a:hover {
	background: #000000;
}
#menu_ext > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
.breadcrumb_ext {
	color: #999;
	margin-bottom: 15px;
        margin-top: 15px;
}
.breadcrumb_ext a{
	color:#999;
        font-size: 14px;
        margin-left:5px;
        margin-right:5px;
        font-family: Calibri;
        font-style: italic;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
        margin-top: 1px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('/components/com_opencart/catalog/view/theme/myshoptheme/image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('/components/com_opencart/catalog/view/theme/myshoptheme/image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('/components/com_opencart/catalog/view/theme/myshoptheme/image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.content_ext input[type='text']{
	font-family: Calibri;
        font-size:14px;
        padding:10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border:1px solid #ccc;
        background: #FCFCFC;
        color:#2e2d2d;
}
.content_ext input[type='password']{
	font-family: Calibri;
        font-size:14px;
        padding:10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border:1px solid #ccc;
        background: #FCFCFC;
        color:#2e2d2d;
}
.content_ext textarea{
	font-family: Calibri;
        font-size:14px;
        padding:10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border:1px solid #ccc;
        background: #FCFCFC;
        color:#2e2d2d;
}
#content_ext textarea{
	font-family: Calibri;
        font-size:14px;
        padding:10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border:1px solid #ccc;
        background: #FCFCFC;
        color:#2e2d2d;
}
#content_ext input[type='text']{
	font-family: Calibri;
        font-size:14px;
        padding:10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border:1px solid #ccc;
        background: #FCFCFC;
        color:#2e2d2d;
}
#content_ext input[type='password']{
	font-family: Calibri;
        font-size:14px;
        padding:10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border:1px solid #ccc;
        background: #FCFCFC;
        color:#2e2d2d;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	/* color: #000000; */
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 95%;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left_ext {
	text-align: left;
	padding: 7px;
}
table.list .right_ext {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: top;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
table.radio label {
	width: 100%;
	height: 15px;
	display: inline-block;
}
.pagination {
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 2px 5px;
	text-decoration: none;
	/* color: #A3A3A3; */
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 2px 5px;
	font-weight: normal;
	text-decoration: none;
	/* color: #269BC6; */
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button_ext,input.button_ext {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px!important;
	background: #2e2d2d!important;
        border:1px solid #2e2d2d!important;
	-webkit-border-radius: 2px!important;
	-moz-border-radius: 2px!important;
	-khtml-border-radius: 2px!important;
	border-radius: 2px!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}
a.button_ext {
	display: inline-block;
	text-decoration: none;
	padding: 5px 12px 6px 12px;
}
input.button_ext {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;
}
a.button_ext:hover, input.button_ext:hover {
	text-decoration:none;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/button-active.png') repeat-x;
}
#main a.button_ext:hover {
	text-decoration:none;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/button-active.png') repeat-x;;
}
.buttons {
	/* background: #FFFFFF;  */
	border: 0px!important; 
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left_ext {
	float: left;
	text-align: left;
}
.buttons .right_ext {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	margin-bottom: 0px;
        margin-top: 10px;
        padding-bottom: 5px;
/*	border-bottom: 5px solid #2e2d2d;*/
}
.htabs a {
/*        text-align: center;
        float: left;*/
/*        padding: 7px 15px 6px 15px;
        font-size: 13px;
        background: #585858;
        color:#fff;
        border-color: #585858;
        -webkit-border-top-left-radius:  5px;
        -moz-border-top-left-radius:  5px;
        border-top-left-radius:  5px;
        -webkit-border-top-right-radius:  5px;
        -moz-border-top-right-radius:  5px;
        border-top-right-radius:  5px;*/
        font-family: Oswald-Light;
	display: none;
        font-size:18px;
/*        font-weight: normal;*/
}
/*.htabs a.selected {
	padding-bottom: 6px;
	background: #2e2d2d;
	color:#fff;
        border-color: #2e2d2d;
}
.htabs a:hover {
	background: #ccc;
	color:#000000;
}*/
.tab-content {
	padding: 1px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: hidden;
}
/* box */
.box_ext {
	margin-bottom: 20px;
}
.box_ext .box-heading {
	-webkit-border-radius: none!important;
	-moz-border-radius: none!important;
	-khtml-border-radius: none!important;
	border-radius: none!important;
/*	border-right: 0px!important;
        border-left: 0px!important;
        border-top: 0px!important;*/
	background: none!important;
	padding: 10px 10px 7px 10px!important;
	font-family: Oswald-Light!important;
	font-size: 20px!important;
        font-weight: normal!important;
	line-height: 14px;
	color: #2e2d2d!important;
/*        border-bottom: 1px solid #2e2d2d;
        margin-bottom: 10px;*/
        border: 0px!important;
}
.box_ext .box-content {
        /*
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;*/
	border-radius: 0px!important;
	border: 0px!important;
	padding: 0px!important;
}
/* box products */
.box-product {
	width: 100%;
	overflow: hidden;
	margin-left:0px!important;
}
.box-product > div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 0px!important;
	margin-bottom: 5px!important;
}
#column-left + #column-right + #content_ext .box-product > div {
	width: 180px!important;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.image a:hover {
	background-color:transparent;
}
.box-product .image img {
	padding: 0px!important;;
	border: 0px!important;
}
#main .box-product .image img:hover {
	background-color:transparent;
}
.box-product .name a {
	/* color: #38B0E3; */
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	font-weight: bold;
	/* color: #333333; */
	margin-bottom: 4px;
}
.box-product .price-old {
	/* color: #F00; */
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
        color:#FF0000;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
        width:200px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	/*  padding: 8px 8px 8px 0px; */
}
.box-category > ul > li + li {
        padding-bottom: 5px;
        padding-top: 5px;
	border-top: 1px solid #EEEEEE;
}
.box-category > ul > li > a {
	text-decoration: none;
        font-size: 14px;
	/* color: #333; */
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
        color:#585858;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content_ext .content_ext {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
}
#content_ext .content_ext .left_ext {
	float: left;
	width: 49%;
}
#content_ext .content_ext .right_ext {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
	overflow: hidden;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
        margin-bottom: 10px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	/* color: #333; */
}
.product-filter .display a {
	font-weight: bold;
	margin:0px;
}
.product-filter .sort {
	float: right;
	/* color: #333; */
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	/* color: #333; */
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: hidden;
	margin-bottom: 15px;
}
.product-list .right_ext {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	/* color: #38B0E3; */
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	/* color: #4D4D4D; */
}
.product-list .rating {
	/* color: #7B7B7B; */
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	/* color: #333333; */
	font-size: 12px;
}
.product-list .price-old {
	/* color: #F00; */
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	/* color: #BBBBBB; */
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	/* color: #333333; */
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/add.png') left center no-repeat;
}
.product-list .compare a {
	/* color: #333333; */
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/add.png') left 60% no-repeat;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px;
	overflow: hidden;
}
#column-left + #column-right + #content_ext .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-grid .name a {
	/* color: #38B0E3; */
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	/* color: #333333; */
	margin-bottom: 4px;
}
.product-grid .price-old {
	/* color: #F00; */
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	/* color: #333333; */
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/add.png') left center no-repeat;
}
.product-grid .compare a {
	/* color: #333333; */
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/add.png') left center no-repeat;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left_ext {
	float: left;
	width:500px;
}
.product-info > .right_ext {
	float: left;
	width:332px;
}
.product-info > .rightr_ext {
	float: left;
	width:10%;
}
/*
.product-info > .left_ext + .right_ext {
	margin-left: 265px;
}
*/
.product-info .image {
	border: 0px!important;
	float: left;
	margin-bottom: 5px;
	text-align: center;
}
.product-info .image-additional {
	
	margin-left: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7!important;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color:transparent;
}
.product-info .description {
/*	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;*/
        border: 0px!important;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	/* color: #4D4D4D; */
}
.product-info .description span {
	/* color: #38B0E3; */
}
.product-info .description a {
	/* color: #4D4D4D; */
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border: 0px!important;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	/* color: #333333; */
}
.product-info .price-old {
	/* color: #F00; */
	text-decoration: line-through;
}
.product-info .price-new {
    color:#FF0000;
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	/* color: #999; */
}
.product-info .price .reward {
	font-size: 13px;
	font-weight: normal;
	/* color: #999; */
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	/* color: #4D4D4D; */
}
.product-info .options {
	border: 0px!important;
	padding: 0px 5px 10px 5px;
	/* color: #000000; */
}
.product-info .option-image {
	margin-top: 3px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 0px!important;
	cursor: pointer;
}
.product-info .cart {
	border: 0px!important;
	padding: 0px 5px 10px 5px;
	/* color: #4D4D4D; */
	overflow: hidden;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	/* color: #999; */
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	/* color: #999; */
	clear: both;
}
.product-info .review {
	/* color: #4D4D4D; */
/*	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;*/
        border: 0px!important;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
/*	border-bottom: 1px solid #E7E7E7;*/
        border: 0px!important;
	line-height: 20px;
}
.product-info .review > div > span {
	/* color: #38B0E3; */
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
        display: table;
        font-family: Calibri;
        background: #f7f7f7;
        margin-bottom: 5px;
}
.review-list .author {
	float: left;
        width: 50px;
        padding: 10px;
}
.review-list #datetime{
    color: #858383;
}
.review-list .author b{
	font-style: italic;
        font-family: Calibri!important;
        font-size:12px;
}
.review-list .author img{
	width:50px;
}
.review-list .author span{
	font-size: 11px;
        color:#858282;
}
.review-list .rating {
	float: left;
        width: 100px;
        padding-bottom: 10px;
        padding-top: 10px;
}
.review-list .text {
        float: left;
	width:640px;
        padding-bottom: 10px;
        color:#2e2d2d;
        padding-top: 10px;
        margin:0px 10px 0px 10px;
}
#review-title{
        font-weight: normal;
        font-family: Oswald-Light;
        font-size:18px;
}
.r_report{
    margin-top: 10px;
}
.r_report a{
    font-size:12px;
    color:#858282;
    font-family: Calibri;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	/* color: #F00; */
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	/* color: #F00; */
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
}
.login-content .left_ext {
	float: left;
	width: 48%;
}
.login-content .right_ext {
	float: right;
	width: 48%
}
.login-content .left_ext .content_ext, .login-content .right_ext .content_ext {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
        margin-left: 20px;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
        margin-left: 20px;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	/* color: #F00; */
	font-weight: bold;
}
.cart-module > div {
	display: none;
	overflow: auto;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	/* background: #F8F8F8; */
	border-bottom: 1px solid #eee;
	padding: 8px;
	font-weight: bold;
        background:#f7f7f7;
	font-size: 13px;
	/* color: #555555; */
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: hidden;
}
.checkout-content .left_ext {
	float: left;
	width: 48%;
}
.checkout-content .right_ext {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left_ext {
	float: left;
	width: 48%;
}
.contact-info .right_ext {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left_ext {
	float: left;
	width: 48%;
}
.sitemap-info .right_ext {
	float: left;
	width: 48%;
}
/* footer */ 
#footer_ext {
	clear: both;
	overflow: hidden;
	min-height: 135px;
	padding: 20px;
	border-top: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
}
#footer_ext h3 {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer_ext .column {
	float: left;
	width: 25%;
	min-height: 135px;
}
#footer_ext .column ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
        /* list-style: url('/components/com_opencart/catalog/view/theme/myshoptheme/image/bullet.png'); */
}
#footer_ext .column ul li {
	margin-bottom: 3px;
}
#footer_ext .column a {
	text-decoration: none;
}
#footer_ext .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 5px;
	text-align: right;
	clear: both;
}
/* banner */
.banner_ext div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner_ext div img {
	margin-bottom: 20px;
}



.login_width{
    width:400px;
}
.full_width{
    width:1000px;
}
a.linkage{
    color:#858282;
    font-family: Calibri;
    font-style: italic;
}
a.linkage:hover{
    color:#2e2d2d;
}
.login-content .right_ext a{
    font-size: 12px!important;
}
.regi_left{
    float: left;
    width:500px;
}
.regi_right{
    float: left;
    width:500px;
}
.regi_content{
    width:1020px!important;
    padding:10px;
    float: left;
}
.regi_content .right_ext{
    float: right;
}
.category_width{
    display: table;
    width:180px !important;
    float:left;
    padding-top:10px!important;
}
.content_ext_width{
    display: table;
    width:860px !important;
    float:left;
}
#search_criteria{
    font-size:14px;
}
input[type="text"].inpuclass{
    padding:8px!important;
}
.search_filters{
    float:left!important;
}
.search_filters div{
    float:left!important;
    width:auto!important;
    padding:5px;
}
.product_fiter_width{
    width:840px;
    border-top: 1px solid #eee!important;
    padding-top: 5px!important;
}
.image_product img{
    width:200px!important;
}
.image_product{
    width:200px!important;
    float:left;
}
.cell_product_item{
    width:200px!important;
    float:left;
    margin-left:7px;
    background: #fff;
}
.cell_product_item_alt{
    width:200px!important;
    float:left;
    margin-left:7px;
    background: #fff;
    border:1px solid #eee;
    display:none;
    padding:9px;
    position: absolute;
    font-size:14px;
}
.product_cell_text{
    width:200px!important;
    background-color: #fff;
    float:left;
    
}
.p_left{
    width:140px;
    float:left;
}
.p_right{
    width:60px;
    float:left;
    text-align: right;
}
.btn_add_to_cart{
    width:14px;
    padding-left:6px;
    height:20px;
    background:#000;
    color:#fff;
    margin-left:0px;
    float:left;
    margin-top: -200px;
    cursor: pointer;
}
.btn_add_to_cart_alt{
    width:14px;
    padding-left:6px;
    height:20px;
    background:#000;
    color:#fff;
    float:left;
    cursor: pointer;
    margin-left: -180px;
    margin-top: -17px;
}
/*.btn_add_to_cart:hover{
    background:#858282;
}
.btn_add_to_wish:hover{
    background:#858282;
}*/
.btn_add_to_wish{
    width:14px;
    padding-left:6px;
    height:20px;
    background:#000;
    color:#fff;
    margin-left:0px;
    float:left;
    margin-top: -200px;
    cursor: pointer;
}
.product_info_divs{
    float: left;
    width:322px;
    padding-left: 10px;
}
.product_info_divs #title_category{
    float: left;
    width:242px;
    padding-right:10px;
}
.product_info_divs #title_category #title{
    float: left;
    width:242px;
    font-size:22px;
    font-family: Oswald-Light;
}
.product_info_divs #title_category #price{
    float: left;
    width:242px;
    font-size:28px;
    font-family: Georgia;
    padding-top:5px;
}
.product_info_divs #title_category #category{
    float: left;
    width:242px;
    font-size:14px;
    font-style: italic;
    color:#ccc;
}
.product_info_divs #artist{
    float: left;
    width:70px;
}
.product_info_divs #description{
    float: left;
    width: 322px;
    font-size: 12px;
}
.product_info_divs_alt{
    float: left;
    width:302px;
    margin-left: 10px;
    padding: 10px;
    background:#f7f7f7;
}
.product_info_divs #sold{
    float: left;
    padding-left: 10px;
}
.product-button{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:#2e2d2d;
    color:#fff;
    cursor: pointer;
    padding:10px;
    font-family: Oswald-Light;
    font-size:18px;
    border:1px solid #2e2d2d;
}
.product-button:hover{
    background:#eee;
    color:#2e2d2d;
    border:1px solid #eee;
}